#logo {
    position: relative; 
    width: 100px;
    height: auto; 
    max-width: 100%;
}

#quote {
    font-family: "Times New Roman", serif;
    text-align: center;
    color: #C93226;
    font-size: 25px;
    font-weight: bold;
}

.mydoc{
    font-family: normal;
    font-size: 35px;
}

.click{
    font-family: normal;
    font-size: 10px;
}

.item {
    display: flex;
    align-items: center;
}